<link rel="stylesheet" type="text/css" href="css/header.css" />
<header id="header">
  <h2>Issue Tracker</h2>
  <div id="links">
    <a href="/"><button id="new_Project">Home</button></a>
    <a href="/createProject"
      ><button id="new_Project">Create New Project</button></a
    >
  </div>
</header>
