<link rel="stylesheet" type="text/css" href="css/createProject.css" />
<div id="createProject">
  <form id="addProject" action="/addProject" method="post">
    <label for="Name">Name:</label>
    <input type="text" name="Name" required />
    <label for="Description">Description:</label>
    <textarea name="Description"></textarea>
    <label for="Author">Author:</label>
    <input type="text" name="Author" required />
    <button type="submit">Create Project</button>
  </form>
</div>
<script src="js/project.js"></script>
